<link rel="stylesheet" href="/css/views/home.css">

<section class="widget">
    <article class="devices">
        <header class="main-info">
                <ul>
                    <li class="capteur-logo">
                        <img src="/assets/images/icons/temperature.svg" alt="">
                    </li>
                    <li class="capteur-name">
                        <h3>Capteur 1</h3>
                    </li>
                </ul>
        </header>
        <aside class="separator">
            /
        </aside>
        <h4 class="capteur-value">30 °c</h4>
        <aside class="separator">
            /
        </aside>
        <h5>Derniere mise a jour, il y a 5 minutes</h5>
    </article>
    <article class="devices">
        <header class="main-info">
                <ul>
                    <li class="capteur-logo">
                        <img src="/assets/images/icons/temperature.svg" alt="">
                    </li>
                    <li class="capteur-name">
                        <h3>Capteur 1</h3>
                    </li>
                </ul>
        </header>
        <aside class="separator">
            /
        </aside>
        <h4 class="capteur-value">30 °c</h4>
        <aside class="separator">
            /
        </aside>
        <h5>Derniere mise a jour, il y a 5 minutes</h5>
    </article>
    <article class="devices">
        <header class="main-info">
                <ul>
                    <li class="capteur-logo">
                        <img src="/assets/images/icons/temperature.svg" alt="">
                    </li>
                    <li class="capteur-name">
                        <h3>Capteur 1</h3>
                    </li>
                </ul>
        </header>
        <aside class="separator">
            /
        </aside>
        <h4 class="capteur-value">30 °c</h4>
        <aside class="separator">
            /
        </aside>
        <div class="widget-status">
            <div class="widget-status-loading"><div></div><div></div><div></div><div></div></div>
        </div>
        <h5>Derniere mise a jour, il y a 5 minutes</h5>
    </article>
</section>